@import "./../../styles/";
@import "./../../scss/mixins";
@import "./../../scss/variable";
.container{
    height: 100vh;
    background-image: url("./../../assets/settingBackgroundImage.svg");
    background-repeat: no-repeat;
    background-position: center center;
}
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .child {
    margin: auto;
    padding-top: 10%;
    @include mobile{
      padding-top: 30%;
    }
    &_heading{
        color:$primary;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 600;
        font-size: 2rem;
        margin-left: 7rem;
    }
    &_desc{
        padding-top: 0.7rem;
        color: #8A8A8A;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 1.3rem;
    }
    &_form{
        width:33rem;
        margin-top: 2rem;
        border-radius: 1rem;
        padding:3rem;
            @include respond(tab-port) {
                width:35rem;
              }
            background-color: $pureWhite;
            label{
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 1rem;
                color:#111111
            }
            ::-webkit-input-placeholder {
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 1.2rem;
                color:#111111
              }
              input{
                margin-top: 1rem;
                width: 27rem;
                @include respond(tab-port) {
                  width:30rem;
                }
                height: 3rem;
                padding-left: 0.5rem;
                background-color: rgba(249, 249, 249, 0.8);
                border: 1.20938px solid #EEEEEE;
                border-radius: 0.5rem;
              }
              input:focus{
                outline: none;
              }
              &_question{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 2rem;
                p{
                  color: #111111;
                  font-family: 'Lato';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 1rem;
                }
              }
              button{
                margin-top: 3rem;
                width: 27rem;
                background-color: #4EDAFC;
                outline:none;
                border: none;
                padding:1rem 0rem;
                border-radius: 1rem;
                color:white;
                font-family: 'Lato';       
                font-style: normal;
                font-weight: 800;
                font-size: 1.5rem;
                @include respond(tab-port) {
                  width:30rem;
                }
                cursor: pointer;
              }
        }
    }
    input[type="checkbox"] {box-sizing: border-box;padding: 0;accent-color:#4EDAFC; }