@import './../../styles/';
.container{
    width: 100%;
    height: auto;
    padding: 4rem 4rem 0rem 4rem;
    @include mobile {
      padding: 4rem 2rem 0rem 2rem;
    }
    &_header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include mobile {
        padding: 4rem 2rem 0rem 2rem;
      }
      h1{
          color:$primary;
          font-family: 'DM Sans';
          font-style: normal;
          font-weight: 500;
          font-size: 2rem;
      }
      select{
          padding:0.5rem 1rem 0.5rem 1rem;
          outline: none;
          border: none;
      }
  }
  &_analysis_card{
    margin-top: 4rem;
    width:25rem;
    @include mobile{
      width:20rem;
    }
    height:10rem;
    background-color: white;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    &_image{
      margin-right: 2rem;
      @include mobile{
        margin-right: 0.8rem;
      }
    }
    &_info{
      p:nth-child(1){
        color: #06152B;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 1.5rem;
        margin-bottom: 0.1rem;
      }
      p:nth-child(2){
        color: #06152B;
        opacity: 0.7;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
      }
      p:nth-child(3){
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 0.7rem;
        opacity: 0.7;
        span{
          color:#F20A0A;
        }
      }
    }
  }
  &_graph{
    margin-top: 4rem;
  }
  &_graph_right{
    width:95%;
    height:49.5rem;
    overflow-x: auto;
    overflow-y: auto;
    margin-top: 4rem;
    background-color: white;
    padding: 4rem;
    border-radius: 2rem;
    @include desktop{
      width: 100%;
      height: auto;
    }
    &_intro{
      padding-bottom: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p{
        color: #06152B;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 1.5rem;
        opacity: 0.7;
      }
    }
  }
  &_graph_left{
    width:100%;
    margin-top: 4rem;
    background-color: white;
    padding: 4rem;
    border-radius: 2rem;
    &_intro{
      padding-bottom: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p{
        color: #06152B;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 1.5rem;
        opacity: 0.7;
      }
    }
    &_desc{
      padding-top: 4rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      &_info{
        display: flex;
        align-items: center;
        justify-content: center;
        img{
          padding-right: 1rem;
        }
        p{
          color: #06152B;
          opacity: 0.7;
          font-family: 'DM Sans';
          font-style: normal;
          font-weight: 500;
          font-size: 1rem;
        }
      }
    }
  }
  &_table{
    margin-top: 4rem;
    padding-bottom: 2rem;
    width: 100%;
    background-color: white;
    &_intro{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 2rem;
      p{
        color: #2B4465;
        opacity: 0.7;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 1.5rem;
        padding-left: 2rem;
      }
    }
    &_search_box{
      margin-right: 2rem;
      border-bottom: 1px solid #8A8A8A;
      @include mobile{
        display: none;
      }
      input{
        outline:none;
        border: none;
      }
      input::placeholder{
        color: #8A8A8A;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
      }
    }
    &_content{
      margin-left: 2rem;
      margin-top: 2rem;
table {
  width: 90%;
  border-collapse: collapse;
  overflow-x: auto;
}

th, td {
  padding: 8px;
  text-align: left;
}
thead th {
  border-bottom: 0.5px solid #06152B;
  color: #06152B;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
}
tbody td {
  color: #2B4465;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
}
td:nth-child(2){
  display: flex;
  align-items: center;
}
td span {
  margin-left: 0.8rem; 
}
td:nth-child(4){
  color:#03A89E
}
tr:nth-child(2n) {
  background-color: #F1F4FA;;
}
    }
  }
}
